@import "./vars";

.blog {
    &__title {
        font-family: $main-font;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        text-transform: capitalize;
        color: $accent;
    }

    &__nav-text {
        font-family: $main-font;
        margin-top: 3px;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        color: #333333;
    }

    &__nav-ol {
        padding-bottom: 8px;
        border-bottom: 2px solid #ECF0F1;
    }

    & p {
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        color: #9A9A9A;
    }

    &__btn {
        margin-bottom: 12px;
        width: 144px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #333333;
        box-sizing: border-box;
    }
}